<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
    <link rel="stylesheet" href="docs.css">
    <script type="module" defer src="/js/docs.js"></script>
</head>

<body>
    <section class="sections intro">
        <h2>Welcome to the trackIt API</h2>
        <p>TrackIt is a web app that help users track their debt accurately and send a reminder whenever the debt is due
            for payment.</p>
    </section>
    <section class="sections features">
        <h4>Features</h4>
        <ol class="feature-list"> </ol>
    </section>
    <section class="sections models">
        <h4>Models</h4>
    </section>
<ol></ol>
    <section class="sections routes">
        <h4>Routes</h4>
    </section>
</body>

</html>